Repository pers0n4/nuxt-nest-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, stylelint, eslint --cache

.lintstagedrc.json:

{
  "*.**": "prettier --check --ignore-unknown",
  "*.{css,scss,sass,html,vue}": "stylelint",
  "*.{js,ts,vue}": "eslint --cache"
}

build: update tsconfig
  client/tsconfig.json
  server/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown

build: update dependencies
  package.json
  yarn.lock
Due: prettier --check --ignore-unknown

build: add npm scripts
  package.json
Due: prettier --check --ignore-unknown

refactor: change project structure
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  client/.babelrc.json
  client/.eslintrc.json
  client/.gitignore
  client/.stylelintrc.json
  client/README.md
  client/jest.config.ts
  client/pages/index.vue
  client/tsconfig.json
  nest-cli.json
  nuxt.config.ts
  package.json
  server/.eslintrc.json
  server/.gitignore
  server/README.md
  server/app.ts
  server/jest.config.ts
  server/nest.ts
  server/nuxt.d.ts
  server/nuxt.filter.ts
  server/src/app.controller.ts
  server/tsconfig.build.json
  server/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown, stylelint, eslint --cache

ci: add github actions ci
  .github/semantic.yaml
  .github/workflows/ci.yml
Due: prettier --check --ignore-unknown

ci: update ci scripts
  .github/workflows/ci.yml
Due: prettier --check --ignore-unknown

docs: add LICENSE
  LICENSE
Due: none

fix: add non-null assertioanl to index page data
  client/pages/index.vue
Due: prettier --check --ignore-unknown, stylelint, eslint --cache
